<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon_name_normal</key>
		<string>icon_messages_more_callpng</string>
		<key>index</key>
		<integer>0</integer>
		<key>title</key>
		<string>语音</string>
		<key>icon_name_selected</key>
		<string>icon_messages_more_call_p</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_pic_p</string>
		<key>index</key>
		<integer>1</integer>
		<key>title</key>
		<string>相册</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_pic</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_camera_p</string>
		<key>index</key>
		<integer>2</integer>
		<key>title</key>
		<string>相机</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_camera</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_location_p</string>
		<key>index</key>
		<integer>3</integer>
		<key>title</key>
		<string>位置</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_location</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_pic_write_p</string>
		<key>index</key>
		<integer>4</integer>
		<key>title</key>
		<string>图文写</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_pic_write</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_pic_voice_p</string>
		<key>index</key>
		<integer>5</integer>
		<key>title</key>
		<string>图文音</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_pic_voice</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_call_p</string>
		<key>index</key>
		<integer>6</integer>
		<key>title</key>
		<string>语音通话</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_call</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_video_p</string>
		<key>index</key>
		<integer>7</integer>
		<key>title</key>
		<string>视频通话</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_video</string>
	</dict>
	<dict>
		<key>icon_name_selected</key>
		<string>icon_messages_more_location_p</string>
		<key>index</key>
		<integer>8</integer>
		<key>title</key>
		<string>Test</string>
		<key>icon_name_normal</key>
		<string>icon_messages_more_location</string>
	</dict>
</array>
</plist>
