<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isLargeEmoji</key>
		<false/>
		<key>isCode</key>
		<false/>
		<key>emoj_option_name</key>
		<string>default</string>
		<key>emoj_option_description</key>
		<string>默认</string>
		<key>emoj_option_indexImageName</key>
		<string>d_hehe@2x.png</string>
		<key>index</key>
		<integer>0</integer>
		<key>emoj_option_urlString</key>
		<string>EmotionIcons/default/</string>
	</dict>
	<dict>
		<key>isLargeEmoji</key>
		<false/>
		<key>isCode</key>
		<true/>
		<key>emoj_option_name</key>
		<string>emoji</string>
		<key>emoj_option_description</key>
		<string>emoji</string>
		<key>emoj_option_indexImageName</key>
		<string>0x1f603</string>
		<key>index</key>
		<integer>1</integer>
		<key>emoj_option_urlString</key>
		<string>EmotionIcons/emoji/</string>
	</dict>
	<dict>
		<key>isLargeEmoji</key>
		<false/>
		<key>isCode</key>
		<false/>
		<key>emoj_option_name</key>
		<string>lxh</string>
		<key>emoj_option_description</key>
		<string>lxh</string>
		<key>emoj_option_indexImageName</key>
		<string>lxh_toule.png</string>
		<key>index</key>
		<integer>2</integer>
		<key>emoj_option_urlString</key>
		<string>EmotionIcons/lxh/</string>
	</dict>
</array>
</plist>
